
body{
 background-image: url("../images/lashes.png");
 font-family: 'PT Serif', serif;
}

#header{
  font-size: 50px;
}

label {
  font-size: 24px;
}

button,
/* div,
form, 
input*/
button {
  margin: 10px;
}

.img-thumbnail {

  margin:20px;
}
